.form {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../assets/lan.jpg");
    background-size:cover;
    height: 100vh;  
  
   
   /*  top:0;
    bottom:0;
    left:0;
    right:0;
   
    font-family:Verdana;
    color:rgb(245, 247, 250); */
  }

  /* .btn {
    background: #778791;
    background-image: -webkit-linear-gradient(top, #778791, #000000);
    background-image: -moz-linear-gradient(top, #778791, #000000);
    background-image: -ms-linear-gradient(top, #778791, #000000);
    background-image: -o-linear-gradient(top, #778791, #000000);
    background-image: linear-gradient(to bottom, #778791, #000000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .input {
    padding: 5px;
    font-size: 11px;
    border-width: 2px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: groove;
    border-radius: 11px;
    box-shadow: 1px 0px 22px rgba(110,210,244,.64);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    
    
}
.input:focus {
    outline:none;
} */

/* .select {
    padding:3px;
    margin: 5px;
    border-radius: 7px;
    cursor:pointer;
    box-shadow: 1px 0px 22px rgba(110,210,244,.64);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
} */


   




/* /////////////////////////////////////////////////////////////////////////////////////////////////// */


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 520px;
  background: #000;
  color: #fff;
  top: 55%;
  left: 50%;
  position:absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 20px;
}


.container .avatar{
  width: 100px;
  height: 100px;
  border-radius: 3px;
  position: absolute;
  top: -50px;
  left: calc(60% - 15%);
  margin-left: auto;
  margin-right: auto;
}
.container .label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}


.container .input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  /* height: 40px; */
  color: #fff;

}

.container .submit{
  
  background: linear-gradient(285deg, rgba(4,177,181,1) 33%, rgba(11,144,230,1) 59%);
  margin: 10px;    
  font-size: 15px;
  padding: 5px;
  text-align: center;
  transition: 0.5s;     
  color: #FFF;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;    
  box-shadow: 0 1px 3px #c7a94b, 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
}
.submit:hover{
  background: linear-gradient(285deg, rgb(28, 251, 255) 33%, rgb(19, 136, 214) 59%);
  color: #000;
  
}

.container .btn{
  
  background-color: #1eb9c1;
   margin: 10px;    
   font-size: 15px;
   padding: 5px 20px;
   text-align: center;
   transition: 0.5s;     
   color: #FFF;
  
   border-radius: 10px;    
   
   transition: all 0.5s cubic-bezier(.25,.8,.25,1);
   cursor: pointer;
   display: inline-block;
   border-radius: 5px;
}

.btn:hover{
  color: #ffffff;
  background-color:#23dee8;
  transform: scale(1.09);
}

.errors{
  color: red;
}

.btn_disabled{

  background: rgb(67, 67, 67);
   margin: 10px;    
   font-size: 15px;
   padding: 5px;
   text-align: center;
   transition: 0.5s;     
   color: #FFF;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;    
   box-shadow: 0 1px 3px #c7a94b, 0 1px 2px rgba(0, 0, 0, 0.24);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   cursor: pointer;
   display: inline-block;
   border-radius: 5px;
}
.btn_disabled:hover{
  cursor: not-allowed;
}

.boton_deleted{
  background: rgb(135, 22, 22);
   margin: 10px;    
   font-size: 15px;
   padding: 5px;
   text-align: center;
   transition: 0.5s;     
   color: #FFF;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;    
   box-shadow: 0 1px 3px #c7a94b, 0 1px 2px rgba(0, 0, 0, 0.24);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   cursor: pointer;
   display: inline-block;
   border-radius: 5px;
}

.boton_deleted:hover{
  background: rgb(195, 0, 0);
  
}

.sel {

  background-color: transparent;
  width: 230px;
  /* border-radius:42px; */
  display: inline-block;
  cursor: pointer;
  color: #23dee8;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  /* padding:5px 25px; */
}

.detail {
  margin:5px;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.country {
  background-color: rgba(255, 255, 255, 0.07);
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 5px 5px;
  border-radius: 2px;
}

.btnDelete{
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5px;
}

@media (max-width:600px) {
  .container{
    width: 80%;
  }
}