.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  align-items: center;
  background-attachment: fixed;
}

.titulo {
  /* position: cover;
  padding: 40px 40px;
  box-shadow: 1px 0px 22px rgba(110,210,244,.64);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75); */
  display: flex;
  color: #ffffff;
  padding: 0px 20px;

}

.app {
  color: #23dee8;
  padding: 0px 5px;
}

.link {
  
  display: flex;
  color: #ffffff;
  font-size: 13px;
  padding: 0px;
  text-decoration: none;
  transition: all 0.5s ease;

position: absolute;

  
}

.link::after {
  content: "";
  border-bottom: 3px solid #23dee8;
  border-width: 0%;
  transition: 0.5s;
  position: absolute;
  


  top:120%;
  left: 50%;
  right: 50%;
  width: 0%;
 
 
  

}

.link:hover::after {
 /*  color: #23dee8;
  
  position: absolute;
  border-left: 5px solid chocolate;
  border-bottom: 5px solid chocolate;
  border-width: 100%; */




  /* border-bottom: 2px  solid #23dee8;
 border-bottom-left-radius: 0.5rem;
 border-bottom-right-radius: 0.5rem; */
 border-bottom-left-radius: 0.5rem;
 border-bottom-right-radius: 0.5rem;
  left: 0%;
  right: 0%; 
  width: 100%;
 

  
}

.link:hover {
    color: #23dee8;
}





.toggle {
  /*  background-color: #ffe600; */
  position: absolute;
  top:.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle .bar {
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  /* border-radius: 10px; */
}

.linkContainer {
width: 100%;

  
/* transition: all 0.5s ease; */

}
.linkResponsive {
  display: flex;
/* width: 100%; */
/* transition: all 0.5s ease; */

}

@media (min-width:600px) {
  .linkResponsive{
    /* position: initial; */
    display: none;
    background-color: #0e0e0e;
    padding: 5px;
  }
  .link {
    display: flex;
    
    
  }
   
}

@media (max-width:600px) {
  .toggle {
    position: absolute;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  .link {
    display: none;
    
    
  }

  /* .linkContainer{
    background-color: #0e0e0e;
    padding: 5px;
  } */
  .linkResponsive{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0e0e0e;
    padding: 10px 0px;
  }

  .linkResponsive:hover {
    background-color: #808080;
  }

  .link2 {
    text-decoration: none;
    color: white;
    font-size: 13px;
  }
  .linkContainer.active{
    display: flex;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}