.search {
    /* margin: 1rem; */
    margin: 10px;
    padding: 1px;
    font-size: 15px;
    border: none;
    border-width: 2px;
    border-color: transparent;
    background-color: transparent;
   /*  font-family:Verdana; */
  font-size:13px;
  /* font-weight:bold; */
  font-style:normal;
    color: rgb(255, 255, 255);
    border-style: groove;
    border-radius: 5px;
    box-shadow: 1px 0px 2px rgba(255, 255, 255, 0.64);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
  }

  .btnSearch {
    padding: 0px 10px;
    border: none;
    outline: none;
    height: 25px;
    background: transparent;
    color:rgba(255, 255, 255, 0.64);
    font-size: 13px;
    border-style:groove;
    border-width: 1px;
    border-color:rgba(255, 255, 255, 0.64);
    border-radius: 1px;
    transition: all 0.5s ease;
  }
  
  
  
  .btnSearch:hover {
    /* background-color: rgb(255, 255, 255); */
    border-color:rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.09);
  }